.bar {
    display: none;
    position: absolute;
    z-index: 4;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 10px 10px;
    max-height: max-content;
    font-size: 20px;
    text-align: center;
    max-width: 30vw;
    left: 40%;
    top: 10%;
    background: rgba(#f8f9fa, 0.95);

    .button {
        display: flex;
        align-content: center;
        height: min-content;
    }

    @media (max-width: 768px) {
        position: sticky;
        top: 0;
        left: auto;
        right: auto;
        width: 100%;
        margin: 0 auto;
        max-width: none;
        z-index: 9999;
    }
}

.showMessage {
    .bar {
        display: flex;
    }
}
