$color-light: #FBFBFB;
$color-dark: #332D2D;
$color-secondary: #9FA6B2;
$color-success: #14A44D;
$color-danger: #DC4C64;

$font-text: 'Exo', sans-serif;

$radius: 12px;
$base-size: 12px;
$transition: all 0.2s ease-in-out;
