.detailsBox {
    position: absolute;
    width: max-content;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    border: 1px solid black;
    border-radius: 6px;
    background-color: #f8f9fa; // bootstrap light
    padding: 20px 50px ;
    margin-top: 20px;
}
.messageBox {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}