.detailsBox {
    position: absolute;
    left: 50%;
    top: 15%;
    width: max-content;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: #fff; // bootstrap light
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .subBox {
        background-color: #f8f9fa; // bootstrap light
        border: 1px solid black;
        border-radius: 4px;
        margin: 5px 10px;
        padding: 20px;
        max-width: 700px;
        
    }
}
.scrollable{ 
    max-height: 150px;
    overflow-y: auto;
}
.messageBox {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}