.boxLeft {
    background-color: #fff; // bootstrap light
}

.subBox {
    background-color: #fff; // bootstrap light
    border-top: 1px solid gray;
    //border-radius: 4px;
    padding: 20px 0;
    margin-top:20px;
}
.detailsBox {
    border-radius: 6px;
    width: 100%;
    background-color: #fff; // bootstrap light
    margin-top: 20px;
    padding: 10px;
}

.scrollable{ 
    max-height: 100px;
    overflow-y: auto;
}
.messageBox {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.products {
    height: 84vh;
    margin-left:20px; 
    padding:20px;
    background-color: #fff; // bootstrap light
    border: 1px solid black;
    border-radius: 4px;
}

